html {
	width: 100%;
	min-width: 1300px;
	}
	
body {
	min-width: 1300px;
	}

#titlerow {
	position: relative;
	color: black;
	right: 3%;
	}
		
#info1 {
	position: relative;
	font-size: 16px;
	left: 38%;
	top: 70px;
	width: 63%;
	}
	
#info2 {
	position: relative;
	font-size: 16px;
	left: 35%;
	top: 90px;
	width: 63%;
	}

#id_message {
	width: 550px;
	height: 150px;
	}


 @media (max-width: 1740px) {
	#titlerow {
		left: 2.5% !important;
		width: 95%;
		}	
	}

	
@media (max-width: 1450px) {
	#title {
		left: 560px;
		}
			
	#info1 {
		left: 32% !important;
		}
		
	#info2 {
		left: 32% !important;
		}	
}