html {
	width: 100%;
	min-width: 1300px;
	}
	
body {
	min-width: 1300px;
	}

#hiretitle {
	position: relative;
	top: 50px;
	text-align: center;
	}

#titletext {
	position: relative;
	right: 5px;
	}
		
#skillstitle {
	position: relative;
	top: 85px;
	text-align: center;
	}

#experiencetitle {
	position: relative;
	top: 100px;
	text-align: center;
	}

#contact-title {
	position: relative;
	top: 120px;
	text-align: center;
	}

#contact-text {
	position: relative;
	left: 8px;
	}
	
#titletext3 {
	position: relative;
	left: 26px;
	}
		
#info1 {
	position: relative;
	font-size: 16px;
	left: 35%;
	top: 70px;
	width: 63%;
	}
		
#info2 {
	position: relative;
	font-size: 16px;
	left: 35%;
	top: 90px;
	width: 63%;
	}
	
#info3 {
	position: relative;
	font-size: 16px;
	left: 35%;
	top: 110px;
	width: 63%;
	}

#info4 {
	position: relative;
	font-size: 16px;
	left: 35.5%;
	top: 130px;
	width: 63%;
	}
	
@media (max-width: 1450px) {
	#info1 {
		left: 32% !important;
		}
	
	#info-contact {
		left: 32% !important;
		}
			
	#info2 {
		left: 32% !important;
		}
	#info3 {
		left: 32% !important;
	}
	#info4 {
		left: 32% !important;
	}
}